.banner {
  color: white;
  text-align: center;
  background-size: cover !important;
  display: flex;
  height: 100vh;
  align-items: center;
  padding: 10px;
  padding-top: 35px;
}

.home-form {
  margin-top: 110px;
  display: flex;
  align-items: center;
  text-align: center;
  // height: 30px;
  .datepicker {
    margin: 0;
    margin-bottom: 0;
  }
  .selectric-wrapper {
    flex: 0 0 auto;
    margin-right: 5px;
    width: 350px;
    height: 70px;

    .selectric {
      height: 70px;
      border-radius: 3px;

      .label {
        height: 70px;
        line-height: 70px;
        font-size: 26px;
      }

      .button {
        height: 70px;
        width: 70px;
        line-height: 70px;
      }
    }
  }
  .drop {
    flex: 0 0 auto;
    margin-right: 5px;
    margin-bottom: 0;
  }
  .btn-go-home {
    flex: 0 0 auto;
    margin-bottom: 0 !important;
  }
  > input {
    height: 70px;
  }
}

.banner h1 {
  color: white;
  font-size: 150px;
  font-weight: 900;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-family: 'Poppins';
  margin-bottom: 40px;
}

.banner h2 {
  font-size: 40px;
  font-bold: regular;
  font-family: 'Poppins';
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: white;
  margin: 0px 0px;
}

.banner h3 {
  font-size: 30px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: white;
  font-family: 'Poppins';
  text-aligns: center;
}

.banner h4 {
  font-size: 30px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: white;
}

.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
}

.banner-content {
  width: 100%;
}

// .form-inputs {
//   color: black;
//   align-items: center;
//   display: flex;
//   height: 70px;
// }
// .input-border {
//   margin: 5px;
//   border: 1px black;
//   border-bottom: 5px !important;
//   box-shadow: 5px !important;
//   border-bottom-color: red !important;
// }

.datepicker{
  // margin: -3px;
  // border: black !important;
}

#range_start{
  width: 350px;
}


.btn-go-home {
  font-size: 30px;
  font-weight: bold;
  width: 250px;
  height: 70px;
  background-color: $red;
  color: white;
  border-radius: 3px;
  padding: 0;
  border: none;
  margin-bottom: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 70px;
}

.btn-go {
  font-size: 30px;
  font-weight: bold;
  width: 300px;
  background-color: rgb(195, 65, 59);
  color: white;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
}

.btn {
  margin-bottom: 30px;
  flex: 0 0 auto;
  width: 380px;
  background-color: rgb(195, 65, 59);
  color: white !important;
  border-radius: 4px;
  margin-right: 5px;
  height: 40px;
  border: none;
  text-decoration: none;
}
.drop {
  flex: 0 0 auto;
  width: 350px;
  background-color: white;
  color: $red;
  border-radius: 3px;
  height: 70px;
  border: none;
  cursor: pointer;
  font-size: 26px;
  text-align: center;
  box-sizing: border-box;
  padding: 0 15px;
  line-height: 70px;
  // margin-right: 5px;
  // margin-left: 5px;
  // margin-bottom: 20px;
}

.select_value {
  color: $red;
  height: 70px;
  line-height: 70px;
}

// Ensure select elements have consistent height
select.drop {
  height: 70px;
  padding: 0 15px;
  line-height: 70px;
}

.location {
  padding-left: 20px;
  color: $red !important;
  width: 350px;
  text-align: left;
}

.search-address {
  flex: 0 1 400px;
  background-color: white;
  color: darkslategray;
  border-radius: 2px;
  margin-right: 10px;
  padding-left: 15px;
  height: 60px;
  width: 100px;
}



